.bg-theme-teal-opac-8 {
    background-color: $theme-teal-opac-8;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-yellow {
    background-color: $theme-yellow;
}

.bg-teal {
    background-color: $theme-teal;
}

.text-yellow {
    color: $theme-yellow;
}